{{input type="text" value=newTodo action="add" placeholder="What needs to be done?"}}

<ul class="todos">
    {{#each item in model}}
        <li {{bind-attr class="item.isCompleted:completed"}}>
            {{input type="checkbox" checked=item.isCompleted}}
            {{item.description}}
        </li>
    {{/each}}
</ul>